---
title: "Energie im Fokus"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /energie/info
name: energie
number: 4

subTitle: "Wellen nutzen als Werkzeug dank ihrer Energie"
weitergedacht: "Unsere Körper geben ständig Wärme in Form von Infrarotstrahlung ab. Wie könnte man diese Energie z.B.
zum Laden elektronischer Geräte nutzen?"


annotations: [
{"string": "Generator", "posx": 30.5, "posy": 76, "rot":0},
{"string": "Turbine", "posx": 28.5, "posy": 80, "rot":90},
{"string": "komprimierte Luft", "posx": 26, "posy": 86, "rot":90},
{"string": "Prostata", "posx": 96, "posy": 67, "rot":0},
{"string": "Ballonkatheter", "posx": 93, "posy": 65, "rot":350},
{"string": "Tumor", "posx": 93.5, "posy": 71, "rot":0},
{"string": "Ultraschallsonde", "posx": 94, "posy": 75, "rot":6},
]

---

<h6>
    Wellen transportieren Energie. Diese kann auf verschiedene Arten genutzt und gezielt eingesetzt werden: direkt,
    durch Umwandlung in eine andere Energieform oder durch Bündelung auf einen Punkt.
</h6>