---
title: "Energy in Focus"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "interference"
bundle: /energie/info
name: energie
number: 4

subTitle: "Using waves as tools thanks to their energy"
weitergedacht: "Our bodies constantly emit heat in the form of infrared radiation. How could this energy be used, for
example, to charge electronic devices?"
---

<h6>
    Waves transport energy that can be used and applied in various ways: directly, by converting it into another form of
    energy or by focusing it on one point.
</h6>