.annotations {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    &__element {
        position: absolute;

        font-size: 1.5rem;
        font-weight: 600;
        color: black;
        text-shadow: 1px 0 12px white;

        @include respond(tab-land) {
            font-size: 2rem;
        }
    }
}
