.wave {
    margin-top: -5%;
    position: relative;
    z-index: 100;

    &__svg {
        display: block;

        fill: $color-base;
        height: 5%;
        margin-bottom: -2px;
        width: 100%;

        ~ div {
            background-color: $color-base;
        }

        &--turquoise {
            fill: $color-turquoise;

            ~ div {
                background-color: $color-turquoise;
            }
        }

        &--teal {
            fill: $color-teal;

            ~ div {
                background-color: $color-teal;
            }
        }

        &--dark {
            fill: darken($color-base, 7%);

            ~ div {
                background-color: darken($color-base, 7%);
            }
        }
    }

    &--single &__svg:last-of-type {
        margin-bottom: -5%;
        margin-top: -2px;
        fill: $color-teal;
    }
}
