---
title: "Hallo Echo"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /reflexion/info
name: reflexion
number: 2

subTitle: "Wellen nutzen als verlängerten Tastsinn durch Reflexion"
weitergedacht: "Wenn Wellen am Rand des Universums reflektiert würden, welche Informationen würden sie von dort
mitbringen?"
---

<h6>
    Werfen wir einen Ball gegen eine Wand, prallt er zurück. Gleiches geschieht mit Wellen, wenn sie auf ein Hindernis
    treffen. Wir kennen das vom Echo, das zurückschallt. Bei so einer Reflexion verändert sich die Welle: Informationen
    über das Hindernis gehen in sie über und können ausgewertet werden.
</h6>