---
title: "Hello Echo"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "reflection"
bundle: /reflexion/info
image: reflexion.jpg

subTitle: "Using waves as an extended tactile sense thanks to reflection"
---

<h6>
    If we throw a ball against a wall, it bounces back. The same happens with waves when they encounter an obstacle.
    This is why we hear echoes. When a wave is reflected, it changes: information about the obstacle is transferred to
    it and can be analysed.
</h6>