---
title: "Hello Echo"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "reflection"
bundle: /reflexion/info
name: reflexion
number: 2

subTitle: "Using waves as an extended tactile sense thanks to reflection"
weitergedacht: "If waves were reflected at the edge of the universe, what information would they bring from there?"

annotations: [
{"string": "click click", "posx": 15, "posy": 66, "rot":0},
{"string": "thickness", "posx": 53, "posy": 39, "rot":270},
{"string": "crude oil", "posx": 63, "posy": 48, "rot":0},
{"string": "seismometer", "posx": 64, "posy": 43, "rot":0},
{"string": "ocean floor", "posx": 73.5, "posy": 51.5, "rot":0},
{"string": "lidar", "posx": 87, "posy": 63, "rot":0},
{"string": "radar", "posx": 82, "posy": 80, "rot":0},
{"string": "ground-penetrating radar", "posx":88, "posy": 27, "rot":0},
]
---


<h6>
    If we throw a ball against a wall, it bounces back. The same happens with waves when they encounter an obstacle.
    This is why we hear echoes. When a wave is reflected, it changes: information about the obstacle is transferred to
    it and can be analysed.
</h6>