---
title: "Auf Spurensuche"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /frequenzgehalt/info
name: frequenzgehalt
number: 9

subTitle: "Wellen nutzen zur Identifizierung dank ihres Frequenzgehalts"
weitergedacht: "Könnten Menschen anhand der Vibrationen, die ihre Schritte im Boden auslösen, identifiziert und damit
ihre Wege nachverfolgt werden?"

annotations: [
{"string": "A", "posx": 95, "posy": 5, "rot":0},
{"string": "A", "posx": 93, "posy": 6, "rot":0},
{"string": "B", "posx": 95, "posy": 11, "rot":0},
{"string": "B", "posx": 93, "posy": 13, "rot":0},
{"string": "Reflexion", "posx": 33, "posy": 39, "rot":0},
{"string": "Absorption", "posx": 35, "posy": 48, "rot":0},

]
---

<h6>
    Die Frequenzen, mit denen eine Welle schwingt, sind wie ein Fingerabdruck. Daher kann man mit ihnen sowohl das
    Objekt bestimmen, von dem die Welle ausgesendet wurde, als auch herausfinden, womit die Welle in Kontakt gekommen
    ist – z.B. mit Menschen, Pflanzen oder Gasen.
</h6>