---
title: "Hunting for Clues"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "frequencycontent"
bundle: /frequenzgehalt/info
image: frequenzgehalt.jpg

subTitle: "Using waves for identification thanks to their frequency content"
---

<h6>
    The frequencies at which a wave oscillates are like a fingerprint. Therefore, they can be used both to identify the
    object from which the wave was emitted and to find out what the wave has come into contact with – for example with
    people, plants or gases.
</h6>