.interactive-info {
    &__pointer {
        height: 6vh;
        width: 6vh;
        background-color: yellowgreen;
        z-index: 999;
        position: absolute;
        top: 10%;
        left: 10%;
    }

    &__text {
        font-size: 1.6rem;
        white-space: normal;

        width: 30vw;

        background-color: yellowgreen;
        z-index: 999;
        position: absolute;
        top: 15%;
        left: 15%;
    }
}