---
title: "Travellers Have Stories to Tell"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "change"
bundle: /veraenderung/info
name: veraenderung
number: 7

subTitle: "Using waves for imaging thanks to their material-dependent changeability"
weitergedacht: "Superman can look through walls or into people’s bodies with his X-ray vision. How is that supposed to
work? And what does that mean for the people he can see through?"
---

<h6>
    Waves tell us what they encounter on their way through water, air, the Earth, space or our bodies. Thanks to these
    travel reports, we can explore places that are difficult to reach or even inaccessible to us.
</h6>