---
title: "Wenn jemand eine Reise tut"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /veraenderung/info
name: veraenderung
number: 7

subTitle: "Wellen nutzen zum Durchleuchten dank ihrer materialabhängigen Veränderbarkeit"
weitergedacht: "Superman kann mit seinem Röntgenblick durch Wände hindurch oder in Menschen hineinblicken. Wie soll das
funktionieren? Und was bedeutet das für die Leute, die er «durchschaut»?"

annotations: [
{"string": "Seismometer", "posx": 58.5, "posy": 62, "rot":0},
{"string": "Tumor", "posx": 62.2, "posy": 30.5, "rot":0, color: 'black'},
{"string": "Wasser", "posx": 63, "posy": 34, "rot":0, color: 'black'},
{"string": "Ultraschallsensoren", "posx": 60.5, "posy": 37, "rot":0, color: 'black'},
{"string": "wärmer", "posx": 94.4, "posy": 33, "rot":0, color: 'black'},
{"string": "kälter", "posx": 94.65, "posy": 43, "rot":0, color: 'black'},
{"string": "Hydrophon", "posx": 93.3, "posy": 39, "rot":0, color: 'black'},
{"string": "Magmakammer", "posx": 68, "posy": 65, "rot":0},
]

---

<h6>
    Wellen «erzählen» uns, was ihnen auf ihrer Reise durch Wasser, Luft, die Erde, das All oder unseren Körper begegnet
    ist. Dank dieser Reiseberichte können wir auch für uns nur schwer zugängliche oder unerreichbare Orte erkunden.
</h6>