---
title: "Data Travels Around the World"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "communication"
bundle: /kommunikation/info
name: kommunikation
number: 6

subTitle: "Using waves for communication thanks to their information content"
weitergedacht: "Motorways cannot be expanded indefinitely. What about frequencies for data transmission? What happens
when all frequencies are used up?"
---

<h6>
    Waves carry information. As waves propa-gate, the information reaches other places where it can be received and
    retrieved. This is how we communicate with each other and connect globally.
</h6>