---
title: "Daten reisen um die Welt"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /kommunikation/info
name: kommunikation
number: 6

subTitle: "Wellen nutzen zur Kommunikation dank ihres Informationsgehalts"
weitergedacht: "Autobahnen lassen sich nicht unbeschränkt ausbauen. Wie sieht das mit Frequenzen zur Datenübermittlung
aus: Was geschieht, wenn alle Frequenzen ausgelastet sind?"
---

<h6>
    Wellen tragen Informationen mit sich. Mit der Ausbreitung der Wellen gelangen die Informationen an einen anderen
    Ort, wo sie empfangen und abgerufen werden können. So kommunizieren wir miteinander und vernetzen uns global.
</h6>