---
title: "Data Travels Around the World"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "communication"
bundle: /kommunikation/info
name: kommunikation
number: 6

subTitle: "Using waves for communication thanks to their information content"
weitergedacht: "Motorways cannot be expanded indefinitely. What about frequencies for data transmission? What happens
when all frequencies are used up?"

annotations: [
{"string": "analogue signal", "posx": 34.5, "posy": 69, "rot":0, "color": "black"},
{"string": "sound curve", "posx": 35, "posy": 74, "rot":0, "color": "black"},
{"string": "Digitisation", "posx": 40.8, "posy": 69, "rot":0, "color": "black"},
{"string": "sampling", "posx": 41.5, "posy": 72.8, "rot":0, "color": "red"},
{"string": "analogue signal", "posx": 44, "posy": 75, "rot":90, "color": "black"},
{"string": "coding with 8 bits", "posx": 41, "posy": 92.6, "rot":0, "color": "black"},
{"string": "Packaging into carrier wave", "posx": 69.9, "posy": 6, "rot":0, color: "black"},
{"string": "original signal (analogue)", "posx": 70.5, "posy": 8, "rot":0, color: "black"},
{"string": "carrier signal", "posx": 70.5, "posy": 14.5, "rot":0, color: "black"},
{"string": "AM", "posx": 70.5, "posy": 20.5, "rot":0, color: "black"},
{"string": "FM", "posx": 70.5, "posy": 28.5, "rot":0, color: "black"},
{"string": "fibreglass core", "posx": 77 , "posy": 70.5, "rot":0},
{"string": "fibre optic cable", "posx": 78 , "posy": 85, "rot":0},
{"string": "fibre optic cable", "posx": 52.4, "posy": 79, "rot":270},
{"string": "submarine fibre optic network", "posx": 82, "posy": 20, "rot":0},
{"string": "4G signal", "posx": 64, "posy": 25, "rot":0},
{"string": "5G signal", "posx": 62, "posy": 45, "rot":0},
{"string": "radio signal", "posx": 78.7, "posy": 14.5, "rot":0},
{"string": "Wi-Fi", "posx": 93, "posy": 48, "rot":0},
{"string": "Bluetooth", "posx": 91, "posy": 73, "rot":0},
]
---

<h6>
    Waves carry information. As waves propa-gate, the information reaches other places where it can be received and
    retrieved. This is how we communicate with each other and connect globally.
</h6>