---
title: "Two Sides of the Same Coin"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "risks"
bundle: /risiken/info
name: risiken
number: 12

subTitle: "Using waves with all their opportunities and their risks"

annotations: [
{"string": "Using waves with all their opportunities... ", "posx": 5, "posy": 70, "rot":0},
{"string": "... and their risks", "posx": 20, "posy": 70, "rot":0},
{"string": "UVB", "posx": 28, "posy": 27, "rot":0},
{"string": "liver", "posx": 26.5, "posy": 31, "rot":0},
{"string": "Kidneys", "posx": 26.5, "posy": 34, "rot":0},
{"string": "vitamin D", "posx": 28, "posy": 39, "rot":0},
{"string": "UVA", "posx": 30, "posy": 55, "rot":0},
{"string": "UVB", "posx": 32, "posy": 52, "rot":0},
]
---

<h6>
    Waves are energy that we use in a variety of beneficial ways – naturally and technologically. But no use is without
    risk – either for us or others. The extent of the risk varies depending on the wave and the situation.
</h6>