---
title: "Zwei Seiten einer Medaille"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /risiken/info
name: risiken
number: 12

subTitle: "Wellen nutzen mit ihren Chancen und Risiken"

annotations: [
{"string": "Wellen nutzen mit ihren Chancen…", "posx": 5, "posy": 70, "rot":0},
{"string": "… und Risiken", "posx": 20, "posy": 70, "rot":0},
{"string": "UVB", "posx": 28, "posy": 27, "rot":0},
{"string": "Leber", "posx": 26.5, "posy": 31, "rot":0},
{"string": "Nieren", "posx": 26.5, "posy": 34, "rot":0},
{"string": "Vitamin D", "posx": 28, "posy": 39, "rot":0},
{"string": "UVA", "posx": 30, "posy": 55, "rot":0},
{"string": "UVB", "posx": 32, "posy": 52, "rot":0},
]
---

<h6>
    Wellen sind Energie, die wir auf vielfältige und gewinnbringende Weise nutzen – natürlich und technologisch. Aber
    kein Nutzen ist ohne Risiko – sei es für uns oder andere. Welches Risiko besteht, ist von Welle zu Welle und von
    Situation zu Situation verschieden.
</h6>