---
title: "Abracadabra"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "manipulable"
bundle: /manipulierbarkeit/info
name: manipulierbarkeit
number: 8

subTitle: "Using waves to change perception thanks to their manipulability"
weitergedacht: "Sometimes it would be convenient to be invisible. But if we could hide from the outside world under a
cloak of invisibility, would the outside world still be visible to us? If not, how could we solve the dilemma?"

annotations: [
{"string": "conventional lens", "posx": 24.2, "posy": 20, "rot":0},
{"string": "fresnel lens", "posx": 25, "posy": 28, "rot":0},
{"string": "metalens", "posx": 26, "posy": 35, "rot":0},
{"string": "conventional lens", "posx": 49, "posy": 18, "rot":0},
{"string": "fresnel lens", "posx": 34.5, "posy": 11, "rot":0},
{"string": "metalens", "posx": 30.4, "posy": 43, "rot":0},
{"string": "hydrophone", "posx": 67.5, "posy": 70, "rot":330, "color":'white'},
{"string": "object", "posx": 65.6, "posy": 82, "rot":0, "color":'white'},
{"string": "object", "posx": 68.5, "posy": 81.7, "rot":0, "color":'white'},
{"string": "in metamaterial", "posx": 68.5, "posy": 83.1, "rot":0, "color":"white"},
{"string": "ultrasonic waves", "posx": 71.2, "posy": 71, "rot":330, "color":"white"},
{"string": "object", "posx": 85, "posy": 70, "rot":0, "color":'white'},
{"string": "mirror", "posx": 87.7, "posy": 64, "rot":0, "color":'white'},
{"string": "illusion", "posx": 87.7, "posy": 65.75, "rot":0, "color":'white'},
{"string": "|", "posx": 88.5, "posy": 68, "rot":0, "color":'white'},
{"string": "metafoil with", "posx": 91, "posy": 64, "rot":0, "color":'white'},
{"string": "nanoantennas made", "posx": 91, "posy": 65.5, "rot":0, "color":'white'},
{"string": "of gold", "posx": 91.4, "posy": 67, "rot":0, "color":'white'},
{"string": "|", "posx": 91, "posy": 67, "rot":0, "color":'white'},
{"string": "metaforest", "posx": 94, "posy": 39, "rot":0},
{"string": "surface waves", "posx": 96, "posy": 36, "rot":90},
{"string": "S waves", "posx": 95, "posy": 50.5, "rot":0}
]
---

<h6>
    Waves tell us what they encounter on their way through water, air, the Earth, space or our bodies. Thanks to these
    travel reports, we can explore places that are difficult to reach or even inaccessible to us.
</h6>