---
title: "Abrakadabra"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /manipulierbarkeit/info
name: manipulierbarkeit
number: 8

subTitle: "Wellen nutzen für veränderte Wahrnehmungen dank ihrer Manipulierbarkeit"
weitergedacht: "Manchmal wäre es schon praktisch, unsichtbar zu sein. Aber wenn wir uns unter einem Tarnmantel
verstecken könnten, wäre dann die Aussenwelt für uns selbst noch sichtbar? Falls nicht: Wie könnten wir das Dilemma
lösen?"
---

<h6>
    Technische Geräte machen sich zunutze, dass Wellen z.B. reflektiert, gebrochen oder an einem Hindernis gebeugt
    werden können. Die kontrollierte Anwendung dieser Eigenschaften bezeichnet man als Manipulation. Könnte man damit
    sogar Objekte – fast wie bei Harry Potter – unsichtbar machen?
</h6>