---
title: "Travelling Through Time with Waves"
date: 2019-01-12T22:14:57-06:00
draft: false
url: time

subTitle: "Sometimes sought and found deliberately, sometimes discovered by chance: the search for explanations
of
phenomena we observe around us often leads to waves. Here is a small selection of important discoveries."
---

<div class="icon" id="icon-zeit">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160.7 160.5">
        <path class="icon--touch"
            d="M105.4,74.6c-0.4,0-0.8,0-1.1,0.1c-0.1-0.1-0.1-0.1-0.2-0.2v-0.8c0-3.9-3.2-7.1-7.1-7.1c-1.7,0-3.3,0.6-4.5,1.6c-0.5-3.4-3.4-6.1-7-6.1c-2.8,0-5.3,1.7-6.4,4.1V47.3c0-3.9-3.2-7.1-7.1-7.1s-7.1,3.2-7.1,7.1v34.5l-2.6-3.7c-2.3-3.2-6.7-4-9.9-1.7c-3.2,2.3-4,6.7-1.7,9.9c2.6,3.7,5.3,7.5,7.9,11.2c7.5,10.7,14,22.7,28.9,22.7c8.9,0,17-4.9,21.4-12.6c4.3-7.7,3.6-16.1,3.6-24.6c0-0.4,0-0.9,0-1.3C112.5,77.8,109.3,74.6,105.4,74.6z" />
        <path class="icon--mouse"
            d="M80.7,40.2c-13.8,0-25,11.2-25,25v30c0,13.8,11.2,25,25,25s25-11.2,25-25v-30C105.7,51.4,94.4,40.2,80.7,40.2z" />
        <path class="icon--mouse-wheel"
            d="M80.9,66.6L80.9,66.6c2.7,0,5-2.2,5-5v-4.4c0-2.7-2.2-5-5-5h0c-2.7,0-5,2.2-5,5v4.4C75.9,64.3,78.2,66.6,80.9,66.6z" />
        <path class="icon__chev-down"
            d="M80.2,160.5l-17.9-16.2c-1.2-1-1.3-2.8-0.2-4s2.8-1.3,4-0.2c0,0,0,0,0,0l14.1,12.8l13.6-12.3c1.2-1.1,3-1,4,0.2c1.1,1.2,1,3-0.2,4c0,0,0,0,0,0L80.2,160.5z" />
        <path class="icon__chev-up"
            d="M95.7,21.2c-0.7,0-1.4-0.3-1.9-0.7L79.8,7.7L66.1,20c-1.2,1.1-3,1-4-0.2s-1-3,0.2-4l0,0L79.8,0l17.9,16.2c1.2,1.1,1.2,2.8,0.2,4C97.3,20.8,96.5,21.2,95.7,21.2L95.7,21.2z" />
        <path class="icon__chev-right"
            d="M119.1,104.5c-0.7,0-1.4-0.2-1.9-0.7c-1.2-1.1-1.2-2.8-0.2-4l12.8-14.1l-12.3-13.6c-1.1-1.2-1-3,0.2-4c1.2-1.1,3-1,4,0.2l15.8,17.4l-16.2,17.9C120.6,104.2,119.8,104.5,119.1,104.5z" />
        <path class="icon__chev-left"
            d="M42.1,106.5c-0.8,0-1.5-0.3-2.1-0.9L24.2,88.1l16.2-17.9c1.1-1.2,2.8-1.2,4-0.2c1.2,1.1,1.2,2.8,0.2,4L31.9,88.1l12.3,13.6c1.1,1.2,1,3-0.2,4C43.5,106.3,42.8,106.5,42.1,106.5z" />
    </svg>
</div>

<div data-scroll-container>
    <div class="timeline">
        <div class="timeline__title">
            <h1 class="h1--intro">Travelling through time with waves</h1>
            <div class="timeline__lead">
                <h3>
                    «Everything that happens in our world, happens because energy moves from one place to another.»
                </h3>
                <span>The Guardian, 2014</span>
                <p class="lead">
                    Sometimes sought and found deliberately, sometimes discovered by chance: the search for explanations
                    of phenomena we observe around us often leads to waves. Here is a small selection of important
                    discoveries.
                </p>
            </div>
        </div>
        <div class="timeline__svgContainer">
            <div class="timeline__svgFiller timeline__svgFiller--turquoise"></div>
            <svg class="timeline__background" viewBox="0 0 1941.7 612.1">
                <path d="M1941.7,0l0,611.6h0C970.9,633,913.7,55.7,0,0.1" />
            </svg>
            <svg class="timeline__line" viewBox="0 0 1941.7 612.1">
                <path d="M1941.7,611.6L1941.7,611.6C970.9,633,913.7,55.7,0,0.1" />
            </svg>
            <div class="timeline__svgFiller timeline__svgFiller--teal"></div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year">3rd century BC</div>
            <div class="timeline__event">
                <h4>Sound waves</h4>
                <p>
                    The Greek philosopher Chrysippos recognises that sound propagates in waves.
                </p>
            </div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot timeline__dot--yellow"></div>
            <div class="timeline__year timeline__year--yellow">1600</div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year timeline__year--bottom">1672</div>
            <div class="timeline__event timeline__event--bottom">
                <h4>Light: wave or particle?</h4>
                <p>
                    1672: Sir Isaac Newton explains the propagation of light with the movement of tiny particles. At the
                    same time, Christiaan Huygens argues that light, like water, travels in waves.
                </p>
            </div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year">1678</div>
            <div class="timeline__event">
                <h4>Waves run around corners </h4>
                <p>
                    1678: Huygens’ principle states that every point of a wave front can be regarded as the starting
                    point of a new wave. This explains, among other things, why waves travel around obstacles.
                </p>
            </div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot timeline__dot--yellow"></div>
            <div class="timeline__year timeline__year--yellow">1700</div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year timeline__year--bottom">1760</div>
            <div class="timeline__event timeline__event--bottom">
                <h4>Earthquake waves</h4>
                <p>
                    1760: John Michell describes earthquakes as wave-like movements originating from within the Earth.
                </p>
            </div>
        </div>


        <div class="timeline__item">
            <div class="timeline__dot timeline__dot--yellow"></div>
            <div class="timeline__year timeline__year--yellow">1800</div>
            <div class="timeline__event">
                <h4>Infrared radiation</h4>
                <p>
                    1800: The siblings Caroline and Wilhelm Herschel discover that the colours of sunlight have
                    different temperatures and that it is warmest ‘beyond’ red.
                </p>
            </div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year">1801</div>
            <div class="timeline__event timeline__event--bottom">
                <h4>Light: wave!</h4>
                <p>
                    1801: Thomas Young proves with his double-slit experiment that light behaves like a wave – as
                    postulated by Huygens.
                </p>
            </div>
        </div>


        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year timeline__year--bottom">1864</div>
            <div class="timeline__event timeline__event--bottom">
                <h4>Light: electromagnetic wave!</h4>
                <p>
                    1864: James Clerk Maxwell shows mathematically that electromagnetic waves exist and that they
                    propagate as fast as light. From this he concludes that light is an electromagnetic wave.
                </p>
            </div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year">1887</div>
            <div class="timeline__event">
                <h4>Radio waves</h4>
                <p>
                    Heinrich Hertz confirms Maxwell’s theory that electromagnetic waves exist when he generates and
                    measures radio waves (electromagnetic waves with long wavelengths). Their transmission from
                    transmitter to receiver is the beginning of radio.
                </p>
            </div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year timeline__year--bottom">1895</div>
            <div class="timeline__event timeline__event--bottom">
                <h4>X-rays</h4>
                <p>
                    Wilhelm Conrad Röntgen discovers by chance that electromagnetic waves with short wavelengths can
                    shine through solid materials. He calls them X-rays and in 1901 is awarded the first Nobel Prize in
                    Physics for his discovery.
                </p>
            </div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot timeline__dot--yellow"></div>
            <div class="timeline__year timeline__year--yellow">1900</div>
            <div class="timeline__event">
                <h4>Gamma radiation</h4>
                <p>
                    1900: Paul Villard discovers that radioactive decay produces electromagnetic radiation in addition
                    to alpha and beta particles.
                </p>
            </div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year timeline__year--bottom">1905</div>
            <div class="timeline__event timeline__event--bottom">
                <h4>Light: wave and particle!</h4>
                <p>
                    Albert Einstein postulates that light is both a wave and a particle (wave-particle duality). Clinton
                    Davisson and Lester Germer show that electrons have wave properties and that wave-particle duality
                    thus exists.
                </p>
            </div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot timeline__dot--yellow"></div>
            <div class="timeline__year timeline__year--yellow">2000</div>
        </div>

        <div class="timeline__item">
            <div class="timeline__dot"></div>
            <div class="timeline__year">2015</div>
            <div class="timeline__event">
                <h4>Gravitational waves</h4>
                <p>
                    Gravitational waves are measured for the first time after having been proposed by Henri Poincaré in
                    1905 and predicted by Einstein in 1916. Rainer Weiss, Barry Barish and Kip Thorne receive the Nobel
                    Prize in Physics for this discovery in 2017.
                </p>
            </div>
        </div>

        <div class="zukunft">
            <div class="zukunft__title">
                <h1 class="h1--intro">Shaping the future</h1>
                <div class="zukunft__lead">
                    <p class="lead">
                        Waves are central to our lives and to solving many of the challenges we face. They are an
                        important tool, for example, in the implementation of sustainable processes. At ETH Zurich,
                        there are many exciting opportunities to use waves to help shape a positive future for people
                        and the environment.
                    </p>
                </div>
            </div>
            <div class="zukunft__content">
                <div class="zukunft__item">
                    <img class="zukunft__img" src="/images/zukunft/01_erdbeben.png" alt="">
                    Help improve earthquake and tsunami early warning systems.
                </div>
                <div class="zukunft__item">
                    <img class="zukunft__img" src="/images/zukunft/02_gravitationswellen.png" alt="">
                    Unlock the secrets of the universe with gravitational waves.
                </div>
                <div class="zukunft__item">
                    <img class="zukunft__img" src="/images/zukunft/03_schadensbegrenzung.png" alt="">
                    Reduce the risk of earthquake damage by manipulating earthquake waves.
                </div>
                <div class="zukunft__item">
                    <img class="zukunft__img" src="/images/zukunft/04_wasserkraft.png" alt="">
                    Build hydroelectric plants in the sea and use the energy of the waves to produce electricity.
                </div>
                <div class="zukunft__item">
                    <img class="zukunft__img" src="/images/zukunft/05_autonom.png" alt="">
                    Design safe self-driving cars.
                </div>
                <div class="zukunft__item">
                    <img class="zukunft__img" src="/images/zukunft/06_chirurgie.png" alt="">
                    Refine surgical devices so that medical procedures are as little invasive as possible.
                </div>
                <div class="zukunft__item">
                    <img class="zukunft__img" src="/images/zukunft/07_bildgebung.png" alt="">
                    Improve medical imaging for more accurate disease diagnosis.
                </div>
                <div class="zukunft__item">
                    <img class="zukunft__img" src="/images/zukunft/08_lagerung.png" alt="">
                    Figure out a way to store CO2 safely underground.
                </div>
                <div class="zukunft__item">
                    <img class="zukunft__img" src="/images/zukunft/09_rohstoffsuche.png" alt="">
                    Develop methods for more efficient resource exploration to limit the environmental impact.
                </div>
            </div>
        </div>

    </div>
</div>