.fullscreen-image {
    box-sizing: border-box;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    margin: 0;

    &__img {
        height: 100%;
        min-width: 100vw;
    }

    &__titlesection {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;

        width: 150rem;
        white-space: normal;

        color: white;
        background-image: url("../images/icons/wave-titlesection.svg");
        background-size: 100% 100%;

        padding-left: 4rem;
        padding-bottom: 16rem;

        transition: opacity 0.6s;

        @include respond(tab-land) {
            width: 120vw;
            padding-bottom: 18rem;

            h1,
            h5,
            h6 {
                max-width: 80vw;
            }
        }

        @include respond(tab-port) {
            width: 150vw;

            h1,
            h5,
            h6 {
                max-width: 90vw;
            }
        }

        @include respond(phone) {
            width: 180vw;
            padding-bottom: 20rem;

            h1,
            h5,
            h6 {
                max-width: 100;
                padding-right: 1rem;
            }
        }

        @include respond(phone-small) {
            width: 200vw;
            padding-bottom: 30rem;

            h1,
            h5,
            h6 {
                max-width: 100;
                padding-right: 1rem;
            }
        }

        h5,
        h6 {
            max-width: 90rem;
        }

        h1 {
            line-height: 1;
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        &.hidden {
            opacity: 0;
        }
    }

    &__weitergedacht {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;

        width: 120rem;
        white-space: normal;

        color: white;
        background-image: url("../images/icons/wave-weitergedacht.svg");
        background-size: 100% 100%;

        float: right;
        text-align: right;
        padding: 0 6rem 6rem 60rem;
        margin-bottom: -1rem;

        transition: opacity 0.6s;

        @include respond(tab-land) {
            width: 125vw;

            h5,
            h6 {
                max-width: 75vw;
            }
        }

        @include respond(tab-port) {
            width: 150vw;
            padding: 0 4rem 4rem 60rem;

            h5,
            h6 {
                max-width: 90vw;
            }
        }

        @include respond(phone) {
            width: 220vw;
            padding-left: 124vw;

            .maskottchen {
                height: 15rem;
                margin: 6rem 0 1rem;
            }
        }

        .maskottchen {
            height: 18rem;
            margin-bottom: 1rem;
        }

        &.hidden {
            opacity: 0;
        }
    }
}
