.fullscreen-image {
    box-sizing: border-box;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    margin: 0;

    &__img {
        height: 100%;
        min-width: 100vw;
    }
}
