.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../images/intro.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &__content {
        position: absolute;
        padding: $padding-left-default;
        max-width: 100vw;

        @include respond(tab-port) {
            padding: $padding-left-small;
        }

        @include respond(phone-small) {
            padding: 4rem;
            margin-top: -4rem;
        }
    }

    &__title {


        font-family: "Zilla Slab", serif;
        text-transform: none;
        font-weight: 900;
        font-style: italic;
        letter-spacing: -0.8rem;
        line-height: 1.2;
        white-space: nowrap;

        transform-origin: 0 50%;


        @include respond(big) {
            transform: scale(120%);
        }

        @include respond(tab-port) {
            transform: scale(80%);
        }

        @include respond(phone) {
            transform: scale(65%);
        }

        @include respond(phone-small) {
            transform: scale(50%);
        }

        &--main {
            font-size: 20rem;
            color: $color-teal;
        }

        &--sub {
            position: relative;
            display: inline-block;
            font-size: 15rem;
            top: -10rem;
            left: 10rem;
            transform: rotate(-5deg);
            color: $color-base;
        }
    }

    &__greeting {
        padding: 2rem;
        margin-top: -4rem;
        max-width: 70rem;

        &--welcome {
            color: $color-base;
        }

        &--details {
            color: $color-teal;
        }

        @include respond(phone) {
            margin-top: -8rem;
            padding: 0;
        }

        @include respond(phone-small) {
            margin-top: -12rem;
        }
    }

    &__icon {
        height: 7.5rem;
        width: 7.5rem;
        position: absolute;
        left: calc(50vw - 3.75rem);
        bottom: 10rem;
        fill: $color-base;
    }

    &__box {
        width: 50vw;
        background-color: rgba(white, 0.5);

        position: absolute;
        top: 40vh;
        left: 5vw;

        padding: 3rem;
    }
}
