.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    // background-image: url("../images/titelbild.png");
    background-image: image-set(
        "../images/Titelbild_1980w.png" 1x,
        "../images/Titelbild_2560w.png" 2x
    );
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &__content {
        position: absolute;
        padding: $padding-left-default;
        max-width: 100vw;

        @include respond(tab-port) {
            padding: $padding-left-small;
        }

        @include respond(phone-small) {
            padding: 4rem;
            margin-top: -4rem;
        }
    }

    &__title {
        @include respond(big) {
            transform: scale(120%);
        }

        @include respond(tab-port) {
            margin-top: -50px;
            transform: scale(80%);
        }

        @include respond(phone) {
            margin-top: -75px;
            transform: scale(60%);
        }

        @include respond(phone-small) {
            margin-top: -50px;
            transform: scale(50%);
        }
        @media (max-width: 390px) {
            transform: scale(40%);
        }
    }

    &__greeting {
        padding: 2rem;
        margin-top: -4rem;
        max-width: 70rem;

        &--welcome {
            color: $color-base;
        }

        &--details {
            color: $color-teal;
        }

        @include respond(phone) {
            margin-top: -8rem;
            padding: 0;
        }

        @include respond(phone-small) {
            margin-top: -12rem;
            line-height: 1.4;

            &--details {
                color: $color-base;
            }
        }
    }

    &__icon {
        height: 7.5rem;
        width: 7.5rem;
        position: absolute;
        left: calc(50vw - 3.75rem);
        bottom: 10rem;
        fill: $color-base;
    }

    &__box {
        width: 50vw;
        background-color: rgba(white, 0.5);

        position: absolute;
        top: 40vh;
        left: 5vw;

        padding: 3rem;
    }
}
