.impressum {
    background-color: darken($color-base, 10%);
    padding: 0 $padding-left-default $padding-left-default
        $padding-left-default;
    color: $color-white;

    .h1 {
        padding-bottom: 4rem;
    }

    &__content {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__lead {
        flex: 0 0 60%;

        @include respond(tab-port) {
            flex: 0 0 100%;
        }
    }

    &__text {
        flex: 0 0 45%;

        p {
            padding-bottom: 1rem;
        }

        h5 {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }
        @include respond(tab-port) {
            flex: 0 0 100%;
        }
    }
}
