.impressum {
    background-color: darken($color-base, 10%);
    padding: $padding-left-default;
    color: $color-white;
    overflow: hidden;

    @include respond(tab-port) {
        padding: $padding-left-small;
    }

    @include respond(phone) {
        padding: $padding-left-small 3rem 5rem $padding-left-small;
    }

    .h1 {
        padding-bottom: 4rem;
    }

    &__content {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__lead {
        flex: 0 0 60%;

        @include respond(tab-port) {
            flex: 0 0 100%;
        }
    }

    &__text {
        flex: 0 0 45%;

        p {
            padding-bottom: 1rem;
        }

        h5 {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }
        @include respond(tab-port) {
            flex: 0 0 100%;
        }
    }
}
