@use 'sass:math';

.wave {
    margin-top: -(math.div(100%, 1920) * 100);
    position: relative;
    z-index: 100;

    &__svg {
        display: block;

        fill: $color-base;
        height: math.div(100%, 1920) * 100;
        margin-bottom: -2px;
        width: 100%;

        ~ div {
            background-color: $color-base;
        }

        &--turquoise {
            fill: rgb(0, 152, 147);

            ~ div {
                background-color: rgb(0, 152, 147);
            }
        }

        &--teal {
            fill: rgb(0, 77, 98);

            ~ div {
                background-color: rgb(0, 77, 98);
            }
        }

        &--dark {
            fill: darken($color-base, 10%);

            ~ div {
                background-color: darken($color-base, 10%);
            }
        }
    }

    &--single &__svg:last-of-type {
        margin-bottom: -(math.div(100%, 1920) * 100);
        margin-top: -2px;
    }
}

$height: math.div(100%, 1920) * 100;

.intro-theme {
    display: flex;
    justify-content: flex-start;

    height: 20rem;
    padding: 0 $padding-left-default;

    transition: height, 0.5s;

    @include on-hover('') {
        height: 30rem;
    }

    @include on-hover('&__content &__text') {
        height: auto;
    }

    &--first {
        height: 15rem;
    }

    &--first &__content {
        margin-top: 0 !important; 
    }

    &__title {
        color: white;
        white-space: nowrap;

        @media (max-width: 319px) {
            white-space: normal;
        }
    }

    &__content {
        max-width: 75vw;
        overflow: hidden;
        
        @include respond(big) {
            margin-top: -2vw;
            max-width: 50vw;
            transition: margin 0.5s;
        }

        @include respond(tab-small) {
            margin-top: -1vw;
            max-width: none;
        }
    }

    &__text {
        height: 0;
        color: white;
        overflow: hidden;
    }

    &__icon {
        fill: white;
        height: 5rem;
        margin-top: 4px;
        width: 5rem;
    }
}
