@use "sass:math";

.intro-container {
    position: relative;
    z-index: 10;
}

.wave-container {
    position: relative;
    margin-top: -(math.div(100%, 1920) * 100);
    
    .wave {
        display: block;
        
        width: 100%;
        height: math.div(100%, 1920) * 100;
    }
    #wave-1{
        fill: $color-base;
    }
    #wave-2{
        fill: rgb(0, 77, 98);
    }
    #wave-3, #wave-end{
        fill: rgb(0, 152, 147);
    }
    #wave-end {
        margin-bottom: -(math.div(100%, 1920) * 100);

    }
}
.intro-theme {
    height: 20rem;
    background-position: 0% 50%;
    padding-left: 10rem;

    padding-bottom: math.div(100%, 1920) * 100;
    &:not(:last-child) {
        height: 12rem;
    }
    padding-right: 10rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    transition: height, 0.5s;

        &__title {
        color: white;
    }

    &__icon {
        fill: white;
        height:5rem;
        width: 5rem;
        margin-top: 4px;
    }

    &__text {
        color: white;
        height: 0;
        overflow: hidden;
    }

    &__link {
        text-decoration: none;
    }

    &__content {
        position:relative;
        z-index: 999;
    }

    @include on-hover('') {
        height: 30rem;
    }

    @include on-hover('&__content &__text'){
        height: auto;
    }

    &--1 {
        background-color: $color-base;

    }

    &--2 {
        background-color: rgb(0, 77, 98);

    }

    &--3 {
        background-color: rgb(0, 152, 147);
        
    }
}