.intro {
    display: flex;
    justify-content: flex-start;

    height: 20rem;
    padding: 0 $padding-left-default;

    transition: height, 0.5s;

    @include on-hover("") {
        height: 30rem;

        @include respond(phone-small) {
            height: 35rem;
        }
    }

    @include on-hover("&__content &__text") {
        height: auto;
    }

    @include on-hover("&__content") {
        margin-top: -6.75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @include on-hover("&__content--single") {
        margin-top: 0;
    }

    &--single {
        height: 15rem;

        @include on-hover("") {
            height: 22rem;

            @include respond(tab-port) {
                height: 26rem;
            }

            @include respond(phone-small) {
                height: 31rem;
            }
        }

        @include respond(tab-port) {
            height: 18rem;
        }
    }

    &__content {
        margin-top: -1vw;
        max-width: 75vw;
        overflow: hidden;

        @include respond(big) {
            margin-top: -2vw;
            max-width: 50vw;
        }

        @include respond(tab-land) {
            margin-top: 1vw;
        }

        @include respond(tab-port) {
            margin-top: 30px;
            max-width: none;
        }
        @include respond(phone) {
            margin-top: 25px;
        }
        @include respond(phone-small) {
            margin-top: 35px;
        }
    }

    &__content--single {
        margin-top: 0.5vw;

        @include respond(tab-land) {
            margin-top: 2vw;
        }

        @include respond(tab-port) {
            margin-top: 30px;
        }

        @include respond(phone) {
            margin-top: 15px;
        }
        @include respond(phone-small) {
            margin-top: 25px;
        }
        @media (max-width: 390px) {
            margin-top: 0;
        }
    }

    &__text {
        height: 0;
        color: white;
        overflow: hidden;
    }

    &__title {
        color: white;
        white-space: nowrap;

        @media (max-width: 390px) {
            white-space: normal;
        }
    }

    &__icon {
        fill: white;
        height: 5rem;
        margin-top: 4px;
        width: 5rem;
    }
}
