.menu {
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-base, $color-turquoise);
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1001;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 6rem;

        // width: 0;
        opacity: 0;

        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(phone) {
            // flex-direction: column;
        }
    }

    &__toggle.active ~ &__background {
        transform: scale(80);
    }

    &__toggle.active ~ &__nav {
        opacity: 1;
        width: 100%;

        .menu__list {
            display: block;
        }
    }

    &__list {
        display: none;
        list-style: none;
        text-align: left;
    }

    &__item {
        margin: 0.5vh;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 0.7rem 1rem;
    }

    &__home {
        margin: 0.5vh;
        font-family: 'Zilla Slab', serif;
        font-style: italic;
        font-size: 6rem;
        font-weight: 700;
        padding: 2rem 1rem;
    }

    &__intro {
        margin: 0.5vh;
        font-family: 'Zilla Slab', serif;
        font-size: 3.5rem;
        font-weight: 700;
        padding: .7rem 1rem;
    }



    &__link {
        &:link,
        &:visited {
            display: inline-block;
            color: white;
            text-decoration: none;
            transition: all 0.4s;
        }

        &:hover,
        &:active {
            transform: scale(1.2);
        }
    }

    &__toggle {
        background-color: $color-base;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 1002;
        box-shadow: 0 1rem 3rem rgba(black, 0.1);
        text-align: center;
        cursor: pointer;
    }

    &__toggle.active {
        background-color: transparent;
        box-shadow: none;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3.2rem;
            height: 3px;
            background-color: white;
            transition: all 0.2s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -1rem;
        }

        &::after {
            top: 1rem;
        }
    }

    &__toggle:hover &__icon::before {
        top: -1.2rem;
    }

    &__toggle:hover &__icon::after {
        top: 1.2rem;
    }

    &__toggle.active &__icon {
        background-color: transparent;
        &:hover {
            transform: scale(1.2) rotate(90deg);
        }
    }

    &__toggle.active &__icon::before {
        top: 0;
        transform: rotate(-135deg);
    }

    &__toggle.active &__icon::after {
        top: 0;
        transform: rotate(135deg);
    }
}
