@use "sass:math";

.navigation-container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly; //main axis
    align-items: center;

    @include respond(tab-small) {
        flex-direction: column;
    }
    @include on-hover('') {
        .h1 {
            @include respond(tab-land) {
                opacity: 0;
            }
            opacity: 0.75;
            font-size: 4rem;
        }
    }
}


.navigation {
    height: 80rem;
    background-size:cover;
    filter: saturate(20%);
    flex: 1 1 20rem;
    overflow:hidden;
    
    min-width: 0rem;
    transition: all, 0.7s;

    &:last-of-type {  
        @include respond(tab-small) {
            min-height: 15rem;
        }
    }
    &:last-of-type &__title {
        @include respond(tab-small) {
            align-self: auto;
            margin-top: - math.div(100%, 1920) * 100;
        }
    }

    @include respond(tab-small) {
        min-width: 100%;
        min-height: 0rem;
        flex: 1 1 10rem;
        transition: all, 0.5s;
    }
    
    @include respond(phone-small) {
        min-height: 15rem;
    }

    @include on-hover(''){
        min-width: 50rem;
        filter: saturate(100%);
        padding: 5rem;

        @include respond(tab-small) {
            min-width: 100%;
            min-height: 40rem;
        }

        .h1 {
            opacity: 100%;
            white-space: normal;
        } 
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        position:absolute;
        top: 0;
        left: 0;
        z-index: 999;

        height: 100%;
        width: 100%;
        padding: 8rem 4rem;

        @include respond(tab-small) {
            justify-content: center;
            padding: 4rem $padding-left-default;
        }

        @include respond(big) {
            padding-bottom: 12rem;
        }
    }

    @include on-hover('&__content'){
        height: 100%;
        width: 50rem;

        justify-content: center;
        overflow: hidden;

        @include respond(tab-small) {
            width: 100%;
        }
    }

    &__title {
        color: white;
        transform: rotate(-90deg);
        white-space: nowrap;    
        
        @include respond(tab-small) {
            flex-direction: column;
            transform: rotate(0deg);
        }
        @media (max-width: 400px) {
            white-space: normal;
        }
    }

    @include on-hover('&__title') {
        transform: rotate(0);
        margin: 0;
    }

    &__text {
        color: white;
        display: none;
        transition: opacity, 0.7s;
    }
    @include on-hover('&__text') {
        display:block;
    }

    &__link {
        text-decoration: none;
        display: none;
    }

    @include on-hover('&__link') {
        display:block;
        margin-top: 2px;
        width: fit-content;

        svg {
            fill:white;
            height: 5rem;
            width: 5rem;
        }
    }

    &__overlay {
        height: 100%;
        width: 100%;
        position:absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
        transition: opacity, 0.7s;
    }
    	
    @include on-hover('&__overlay') {
        opacity: .3;
    }
}