.navigation {
    height: 80rem;
    background-size: cover;
    filter: saturate(50%);
    // flex-basis: 20rem;
    flex: 1 0 auto;
    overflow: hidden;

    min-width: 0;
    transition: width, 0.7s;

    @media (min-width: 3000px) {
        height: 100rem;
    }


    @include respond(tab-port) {
        min-width: 100%;
        min-height: 0;
        flex-basis: 10rem;
    }

    @include respond(phone-small) {
        min-height: 15rem;
    }

    @include on-hover("") {
        min-width: 50rem;
        filter: saturate(100%);

        @include respond(tab-port) {
            min-width: 100%;
            min-height: 40rem;
        }

        .h1 {
            opacity: 100%;
            white-space: normal;
        }
    }

    @include on-hover("&__content") {
        height: 100%;
        width: 50rem;

        justify-content: center;
        overflow: hidden;

        @include respond(tab-port) {
            width: 100%;
        }
    }

    @include on-hover("&__title") {
        transform: rotate(0);
        margin: 0;
    }
    @include on-hover("&__text") {
        display: block;
    }

    @include on-hover("&__assoziation") {
        display: block;

        @include respond(tab-port) {
            height: 20rem;
            align-self: flex-end;
            margin: -5rem 0 -5rem 0;
        }

        @include respond(phone-small) {
            height: 12rem;
        }
    }

    @include on-hover("&__link") {
        display: block;
        margin-top: 2px;
        width: fit-content;

        svg {
            fill: white;
            height: 5rem;
            width: 5rem;
        }
    }

    @include on-hover("&__overlay") {
        background-color: black;
        opacity: 0.3;
    }

    &:last-of-type {
        @include respond(tab-port) {
            flex-basis: 15rem;
        }
    }

    &:last-of-type &__title {
        @include respond(tab-port) {
            align-self: auto;
            margin-top: -5%;
        }
    }

    &__container {
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly; //main axis
        align-items: center;

        @include respond(tab-port) {
            flex-direction: column;
        }

        @include on-hover("") {
            .h1 {
                opacity: 0.75;
                font-size: 4rem;
                @include respond(tab-land) {
                    opacity: 0;
                }
                @include respond(tab-port) {
                    opacity: 0.75;
                }
            }
        }
    }

    &__overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(0, 44, 55);;
        opacity: 0.5;
        transition: opacity, 0.7s;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;

        height: 100%;
        width: 100%;
        padding: 12rem $padding-left-default;

        @media (min-width: 3000px) {
            padding-bottom: 20rem;
        }    

        @include respond(tab-land) {
            padding-bottom: 8rem;
        }

        @include respond(tab-port) {
            justify-content: center;
            padding: 4rem $padding-left-small;
        }
        @include on-hover("") {
            .h1 {
                opacity: 1;
                font-size: 4.5rem;
            }
        }
    }

    &__title {
        color: white;
        transform: rotate(-90deg);
        white-space: nowrap;

        @include respond(tab-port) {
            flex-direction: column;
            transform: rotate(0deg);
        }

        @media (max-width: 390px) {
            white-space: normal;
        }
    }

    &__text {
        color: white;
        display: none;
        transition: opacity, 0.7s;
    }

    &__link {
        text-decoration: none;
        display: none;
    }

    &__assoziation {
        display: none;
        transform: scale(1.2);
    }
}
