.physik {
    width: 100%;
    background-color: $color-teal;
    overflow: hidden;
    padding-bottom: 10rem;
    color: $color-white;

    &__title {
       
        min-height: 100vh;
        padding: $padding-title;

        .columns {
            padding: 0;
            white-space: nowrap;

            @include respond(phone) {
                white-space: normal;
            }
        }
    }

    &__lead {
        position: relative;
        z-index: 1;
        // margin-top: 30vh;
    }

    &__wave {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        max-height: 60vh;

        width: 100%;
        min-width: 1600px;

        svg {
            fill: $color-turquoise;
            height: 100%;
            width: 100%;
            transform: rotate(180deg);
        }
    }

    #walking {
        position: relative;
        padding: $padding-left-default;
        max-height: 60rem;
        display: block;
        margin: 0 auto;
        z-index: 1001;

        @include respond(tab-land) {
            margin-top: -9rem;
            padding: $padding-left-small;
        }
    }
}
