.physik {
    width: 100%;
    background-color: $color-teal;
    overflow: hidden;
    padding-bottom: 10rem;
    color: $color-white;

    &__title {
        min-height: 100vh;
        padding: $padding-title;

        @include respond(tab-port) {
            padding-left: $padding-left-small;
        }
    }

    &__lead {
        position: relative;
        z-index: 1;
        margin-top: 30vh;
    }

    &__wave {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        max-height: 60vh;

        width: 100%;
        min-width: 1600px;

        svg {
            fill: $color-turquoise;
            height: 100%;
            width: 100%;
            transform: rotate(180deg);
        }
    }
}
