.physik {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
    padding-left: 5rem;
    padding-right: 5rem;

    &--first {
        height: 50vh;
        min-height: auto;
        margin-bottom: 10rem;
    }

    &__body {
        background-color: $color-teal;
        color: white;
    }

    &__title {
        flex: 0 0 100%;
        z-index: 1;
        padding: 5rem 5rem 0;

        @include respond(tab-port) {
            margin-bottom: 15vh;
        }

        h1 {
            font-size: 12rem;
            color: white;
            transform: rotate(-5deg);
        }
    }

    &__lead {
        color: yellow;
        font-size: 2rem;
        z-index: 1;
        margin-top: 10vh;
        padding: 5rem 33vw 5rem 5rem;
        flex: 0 0 100%;
    }

    &__content {
        z-index: 1;
        padding: 1rem 5rem;
        overflow: hidden;

        &--2 {
            flex: 0 0 50%;
        }

        &--3 {
            flex: 0 0 33%;
            @include respond(tab-port) {
                flex: 0 0 50%;
            }
        }

        &,
        &--3,
        &--2 {
            @include respond(phone) {
                flex: 0 0 100%;
                padding: 0 8rem;

                p {
                    margin-bottom: 2rem;
                }
            }
        }

        p {
            margin-bottom: 2rem;
        }

        img {
            max-width: 100%;
            max-height: 50vh;
        }
    }

    &__wave {
        position: absolute;
        top: 0;
        left: 0;
        height: 70%;
        width: 100%;

        svg {
            position: absolute;
            fill: $color-turquoise;
            height: 100%;
            width: 100%;
            transform: rotate(180deg);
        }
    }
}
