.tauchein {
    position: relative;
    min-height: 100vh;
    padding-bottom: 10rem;
    background-color: $color-turquoise;
    color: $color-white;

    &--white {
        background-color: $color-white;
        color: $color-teal;
    }

    &__title {
        min-height: 45vh;
        padding: 0 0 0 $padding-left-default;

        @include respond(tab-port) {
            padding-left: $padding-left-small;
        }

        @include respond(phone-small) {
            padding-left: 5vw;
        }

        .wavesTitle {
            position: relative;
            z-index: 1;
            transform: scale(0.6);
            margin-top: -5rem;

            @include respond(phone-small) {
                transform: scale(0.5);
            }
        }

        .h1--intro {
            padding-top: 3rem;
        }
    }

    &__titlewave {
        position: absolute;
        top: 0;
        left: 0;
        height: 55vh;
        min-height: 300px;
        width: 100%;
        min-width: 1600px;

        svg {
            position: absolute;
            fill: white;
            height: 100%;
            width: 100%;
            transform: rotate(180deg);
        }

        &--turquoise {
            svg {
                fill: $color-turquoise;
            }
        }
    }

    .columns {
        min-height: 50vh;
    }
}
