.tauchein {
    position: relative;
    min-height: 100vh;
    padding-bottom: 10rem;
    background-color: $color-teal;
    color: $color-white;
    overflow: hidden;

    &--white {
        background-color: $color-white;
        color: $color-teal;
    }

    &--base {
        background-color: $color-base;
        color: $color-white;
    }

    &--teal {
        background-color: $color-teal;
        color: $color-white;
    }

    

    &__header {
        min-height: 60vh;
       
    }


    &__title {
        // position: relative;
        z-index: 1;
        transform: scale(0.8);
        // margin-top: -3rem;
        margin-left: -4rem;
        // float: left;

        .wavesTitle__main {
            color: white;
        }

        .wavesTitle__sub {
            color: $color-yellow;
        }

        @include respond(tab-land) {
            transform: scale(0.75);
            margin-left: -9rem;
        }

        @include respond(phone) {
            transform: scale(0.65);
            // margin-left: -12.5rem;
        }

        @include respond(phone-small) {
            transform: scale(0.45);
            // margin-left: -17rem;
        }
    }

    .h1--intro {
        padding: 3rem 4rem 0 $padding-left-default;
        @include respond(phone) {
            padding-left: $padding-left-small;
        }
        @include respond(phone-small) {
            padding-left: 4rem;
            
        }
    }

    &__lead {
        position: relative;
        z-index: 1;
        padding: 16rem 4rem 8rem $padding-left-default;

        h3 {
            color: $color-yellow;
            // padding-top: 8rem;
        }


        @include respond(phone) {
            padding: 8rem 4rem 8rem $padding-left-small;
        }

        @include respond(phone-small) {
            padding-left: 4rem;
            
        }
    }

    &__svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 55vh;
        min-height: 300px;
        width: 100%;
        min-width: 1600px;
        margin-top: -3px;

        svg {
            fill: white;
            height: 100%;
            width: 100%;
            transform: rotate(180deg);
        }

        &--turquoise {
            svg {
                fill: $color-turquoise;
            }
        }

        &--teal {
            svg {
                fill: $color-teal;
            }
        }
    }

    // .columns {
    //     min-height: 45vh;
    //     // margin-bottom: 5rem;
    // }


    #surfing {
        padding-top: 12rem;
        max-height: 60rem;
        display: block;
        margin: 0 auto;

        @include respond(tab-land) {
            margin-top: -10rem;
            padding: $padding-left-small;
        }
    }

    #stone {
        max-width: 100%;

        @include respond(tab-land) {
            margin-top: -10rem;
            padding: $padding-left-small;
            // max-width: 50rem;
        }
    }
}
