.tauchein {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;

    &__body {
        background-color: $color-turquoise;
    }

    &__title {
        flex: 0 0 100%;
        z-index: 1;
        padding: 5rem 5rem 0;

        @include respond(tab-port) {
            margin-bottom: 15vh;
        }

        h1 {
            font-size: 12rem;
            color: $color-base;
        }

        &--sub {
            position: relative;
            display: inline-block;
            font-size: 10rem;
            top: -13rem;
            left: 12rem;
            transform: rotate(-10deg);
            color: $color-turquoise;
        }

        &--wasist {
            transform: rotate(-5deg);
            height: 30vh;
            line-height: 10rem;
            margin-bottom: 10vh;

            @include respond(tab-port) {
                margin-top: 10vh;
                // margin-bottom: 15vh;
            }

            .h1 {
                color: white;
                font-size: 10rem;
            }
        }
    }

    &__content {
        z-index: 1;
        padding: 1rem 5rem;
        overflow: hidden;

        &--2 {
            flex: 0 0 50%;
        }

        &--3 {
            flex: 0 0 33%;
            @include respond(tab-port) {
                flex: 0 0 50%;
            }
        }

        &,
        &--3,
        &--2 {
            @include respond(phone) {
                flex: 0 0 100%;
                padding: 0 8rem;

                p {
                    margin-bottom: 2rem;
                }
            }
        }

        p {
            margin-bottom: 2rem;
        }
    }

    &__wave {
        position: absolute;
        top: 0;
        left: 0;
        height: 70%;
        width: 100%;

        svg {
            position: absolute;
            fill: white;
            height: 100%;
            width: 100%;
            transform: rotate(180deg);
        }

        &--2 {
            height: 100%;

            svg {
                transform: rotate(0);
            }
        }
    }
}
