.timeline {
    background-color: $color-teal;
    width: 100%;

    &__title {
        padding: $padding-title;
        width: 100%;
        background-color: $color-turquoise;

        &--bottom {
            background-color: $color-teal;
        }

        @include respond(tab-port) {
            padding-left: $padding-left-small;
        }
    }

    &__lead {
        margin-top: 8rem;
        h3, span {
            color: $color-white;
        }
    }

    // TIMELINE SVGS **************************
    &__svgContainer {
        position: relative;
        height: 100vh;
        margin-top: -3px;
        display: flex;
        flex-direction: column;
    }

    &__svgFiller {
        flex-grow: 1;

        &--turquoise {
            background-color: $color-turquoise;
        }

        &--teal {
            background-color: $color-teal;
        }
    }

    &__line {
        position: absolute;

        path {
            fill: none;
        }
    }

    &__background {
        position: relative;
        margin-top: -3px;

        path {
            fill: $color-turquoise;
        }
    }

    // TIMELINE ITEMS **************************
    &__item {
        display: none;
        position: absolute;
        z-index: 999;
        top: -1rem;
        left: -1rem;
        color: $color-white;
    }

    &__dot {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: #fff;

        &--yellow {
            background: $color-yellow;
        }
    }

    &__year {
        position: absolute;
        top: -2rem;
        left: 3.25rem;
        transform-origin: bottom left;
        transform: rotate(-45deg);
        width: 200px;

        &--bottom {
            top: 3.5rem;
            left: -2rem;
        }

        &--yellow {
            color: $color-yellow;
        }
    }

    &__event {
        position: absolute;
        top: -250px;
        width: 400px;
        max-width: 75vw;

        p {
            font-size: 1.4rem;
        }

        @include respond(tab-port) {
            top: -220px;
            left: -75px;
            max-width: 60vw;
        }

        &--bottom {
            top: 75px;
            left: -275px;

            @include respond(tab-port) {
                top: 90px;
                left: -175px;
            }
        }
    }
}
