.zukunft {
    background-color: $color-teal;
    width: 100%;
    overflow: hidden;

    &__title {
        padding: $padding-title;
        width: 100%;

        @include respond(tab-port) {
            padding-left: $padding-left-small;
        }
    }

    &__lead {
        margin-top: 8rem;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0 $padding-left-default;
        margin: 0 -1rem;
        @include respond(phone) {
            justify-content: center;
        }
    }

    &__item {
        flex: 0 0 30%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 3rem 1rem;
        color: white;

        @include respond(tab-port) {
            flex: 0 0 45%;
        }
        @include respond(phone) {
            flex: 0 0 80%;
        }
        @include respond(phone-small) {
            flex: 0 0 100%;
        }
    }

    &__img {
        width: 100%;
        max-width: 350px;
        margin-bottom: 2rem;

        @include respond(phone) {
            max-width: 250px;
        }
    }
}
