---
title: "Ready – Steady – Go"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "speed"
bundle: /geschwindigkeit/info
name: geschwindigkeit
number: 3

subTitle: "Using waves as warning signs thanks to different velocities"
weitergedacht: "Although frequently discussed, it has not been proven that animals can sense earthquakes in advance. How
would you try and find out whether and how animals could be alerted to imminent earthquakes?"
---

<h6>
    When a wave is generated, it spreads out in all directions at a certain velocity. If there is an-other, faster wave,
    it can overtake the first, slower one and announce its arrival.
</h6>