---
title: "Achtung – Fertig – Los"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /geschwindigkeit/info
name: geschwindigkeit
number: 3

subTitle: "Wellen nutzen als Vorboten dank verschiedener Geschwindigkeiten"
weitergedacht: "Es wird diskutiert, ob Tiere Erdbeben «vorherspüren» können. Dies wurde aber noch nicht bewiesen. Wie
würdest du versuchen herauszufinden, ob und wodurch Tiere alarmiert werden könnten?"
---

<h6>
    Wenn eine Welle entsteht, breitet sie sich mit einer bestimmten Geschwindigkeit in alle Richtungen aus. Gibt es eine
    weitere, aber schnellere Welle, kann sie die erste überholen und uns das Eintreffen der langsameren ankündigen.
</h6>