body ,p {
    // font-family: 'Dosis', sans-serif;
    // font-family: 'Nunito', sans-serif;
    font-family: 'DM Sans', sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
}

h1, .h1 {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

// image intro 
h5 {
    font-weight: 700;
    font-size: 1.8rem;
}

//interactive info intro
h6 {
    font-weight: 500;
    font-size: inherit;
}

