body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.hero {

    &__text {
        color: $color-base;

        // flex: 1 1 0px;
        // width: 0;

        &:not(:last-child) {
            margin: 1.5rem;
        }

        & h2 {
            font-size: 2.4rem;
            text-transform: uppercase;
            // margin: 1rem 0;
        }

        & p {
            font-size: 1.8rem;
        }

    }

    &__title {
        position: absolute;
        top: 5vh;
        left: 10vw;

        font-family: 'Bree Serif', serif;
        font-size: 15rem;
        font-weight: 600;
        line-height: 1.2;
        color: blue;

        & span {
            position: relative;
            display: inline-block;
            top: -11rem;
            left: 12rem;
            transform: rotate(-5deg);
            color: $color-base;
        }
    }
}


.navigation__title {
    // font-family: 'Bree Serif', serif;
    font-size: 7rem;
    text-transform: uppercase;
    // color: burlywood;
    color: $color-offwhite;
}

.navigation__text {
    font-size: 2rem;
    font-weight: 600;
    color: blanchedalmond;
    height: 0;
    overflow: hidden;
}
