.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../img/1.jpg');
    background-size: cover;
    background-position: center;

    &__icon {
        height: 7.5rem;
        width: 7.5rem;
        position: absolute;
        left: calc(50vw - 3.75rem);
        bottom: 2rem;
        fill: $color-base;

    }

    
    &__box {
        height: vh;
        width: 50vw;
        background-color: rgba(white, 0.5);

        position: absolute;
        top: 40vh;
        left: 5vw;
        
        color: white;
        padding: 3rem 3rem;

        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: top;
    }
    
    
}