---
title: "Wer sucht, wird finden"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /lokalisierung/info
image: lokalisierung.jpg

subTitle: "Wellen nutzen zur Lokalisierung dank ihrer dreidimensionalen Ausbreitung"
---

<h6>
    Eine Welle breitet sich in alle Richtungen aus. Liegen innerhalb ihrer Reichweite genügend Empfänger, kann aus den
    empfangenen Signalen der Entstehungsort der Welle bestimmt werden. Möchten wir den eigenen Standort bestimmen,
    machen wir uns zunutze, dass Wellen von verschiedenen Orten bei uns eintreffen.
</h6>