---
title: "Seek and You Will Find"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "localisation"
bundle: /lokalisierung/info
name: lokalisierung
number: 5

subTitle: "Using waves for localisation thanks to their three-dimensional propagation"
weitergedacht: "Being able to locate ourselves at any time – great! But how do we deal with the fact that our location
is also visible to others?"
---

<h6>
    A wave propagates in all directions. If there are enough receivers within its range, the wave’s place of origin can
    be determined from the received signals. To determine our own location, we use waves that reach us from different
    places.
</h6>