{{ define "main" }}
{{ $bundleName := string .Page.Params.bundle}}
{{ $headless := .Site.GetPage $bundleName }}
{{ $reusablePages := $headless.Resources.Match "info*" }}

<main data-scroll-container id="data-scroll-container">
    <div class="icon" id="icon-stories">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160.7 160.5">
            <path class="icon--touch" d="M105.4,74.6c-0.4,0-0.8,0-1.1,0.1c-0.1-0.1-0.1-0.1-0.2-0.2v-0.8c0-3.9-3.2-7.1-7.1-7.1c-1.7,0-3.3,0.6-4.5,1.6c-0.5-3.4-3.4-6.1-7-6.1c-2.8,0-5.3,1.7-6.4,4.1V47.3c0-3.9-3.2-7.1-7.1-7.1s-7.1,3.2-7.1,7.1v34.5l-2.6-3.7c-2.3-3.2-6.7-4-9.9-1.7c-3.2,2.3-4,6.7-1.7,9.9c2.6,3.7,5.3,7.5,7.9,11.2c7.5,10.7,14,22.7,28.9,22.7c8.9,0,17-4.9,21.4-12.6c4.3-7.7,3.6-16.1,3.6-24.6c0-0.4,0-0.9,0-1.3C112.5,77.8,109.3,74.6,105.4,74.6z" />
            <path class="icon--mouse" d="M80.7,40.2c-13.8,0-25,11.2-25,25v30c0,13.8,11.2,25,25,25s25-11.2,25-25v-30C105.7,51.4,94.4,40.2,80.7,40.2z" />
            <path class="icon--mouse-wheel" d="M80.9,66.6L80.9,66.6c2.7,0,5-2.2,5-5v-4.4c0-2.7-2.2-5-5-5h0c-2.7,0-5,2.2-5,5v4.4C75.9,64.3,78.2,66.6,80.9,66.6z" />
            <path class="icon__chev-down" d="M80.2,160.5l-17.9-16.2c-1.2-1-1.3-2.8-0.2-4s2.8-1.3,4-0.2c0,0,0,0,0,0l14.1,12.8l13.6-12.3c1.2-1.1,3-1,4,0.2c1.1,1.2,1,3-0.2,4c0,0,0,0,0,0L80.2,160.5z" />
            <path class="icon__chev-up" d="M95.7,21.2c-0.7,0-1.4-0.3-1.9-0.7L79.8,7.7L66.1,20c-1.2,1.1-3,1-4-0.2s-1-3,0.2-4l0,0L79.8,0l17.9,16.2c1.2,1.1,1.2,2.8,0.2,4C97.3,20.8,96.5,21.2,95.7,21.2L95.7,21.2z" />
            <path class="icon__chev-right" d="M119.1,104.5c-0.7,0-1.4-0.2-1.9-0.7c-1.2-1.1-1.2-2.8-0.2-4l12.8-14.1l-12.3-13.6c-1.1-1.2-1-3,0.2-4c1.2-1.1,3-1,4,0.2l15.8,17.4l-16.2,17.9C120.6,104.2,119.8,104.5,119.1,104.5z" />
            <path class="icon__chev-left" d="M42.1,106.5c-0.8,0-1.5-0.3-2.1-0.9L24.2,88.1l16.2-17.9c1.1-1.2,2.8-1.2,4-0.2c1.2,1.1,1.2,2.8,0.2,4L31.9,88.1l12.3,13.6c1.1,1.2,1,3-0.2,4C43.5,106.3,42.8,106.5,42.1,106.5z" />
        </svg>
    </div>

    <div class="fullscreen-image" data-scroll-section>
        <div class="fullscreen-image__titlesection">
            <h1>{{ .Param "Title" }}</h1>
            <h5>{{ .Param "subTitle" }}</h5>
            <h6>{{ .Content }}</h6>
            <div class="shape-outside"></div>
        </div>

        {{ if isset .Params "weitergedacht" }}
        <div id="pointer-weitergedacht" class="interactive-info__pointer">
            <div class="icon-circle icon-circle--1"></div>
            <div class="icon-circle icon-circle--2"></div>
            <div class="icon-circle icon-circle--3"></div>
            <div class="icon-circle icon-circle--4"></div>
        </div>

        <div class="fullscreen-image__weitergedacht hidden">

            <img class="maskottchen" src='/images/icons/weitergedacht/2-{{ .Param "number" }}-weitergedacht_{{ .Param "name"}}.png' alt='{{ .Site.Language.Params.params.weiter_alt }} {{.Param "name" | humanize}}' />

            <h5>{{ .Site.Language.Params.params.weiter }}</h5>
            <h6>{{ .Param "weitergedacht" }}</h6>
            <div class="shape-outside"></div>

            <div id="close-weitergedacht" class="fullscreen-image__weitergedacht__close">
                <span class="close-icon">&nbsp;</span>
            </div>

        </div>
        {{ end }}

        <!--
            800w -> 600h
            1280w -> 800h
            1920w -> 1080h    
            2560w -> 1440h
            3840w -> 2160h
        
        -->

        <img class="fullscreen-image__img" srcset='/images/stories/{{ .Param "name" }}_600h.jpg 1600w,
                        /images/stories/{{ .Param "name" }}_800h.jpg 2133w,
                        /images/stories/{{ .Param "name" }}_1080h.jpg 2880w,
                        /images/stories/{{ .Param "name" }}_1440h.jpg 3840w,
                        /images/stories/{{ .Param "name" }}.jpg 5680w' sizes="270vw" src='/images/stories/{{ .Param "name" }}.jpg' alt='{{ .Site.Language.Params.params.fullscreen_image_alt }} {{.Param "name" | humanize }}' />

        {{ range .Param "annotations" }}
        <div class="annotations">
            <div class="annotations__element" data-posx="{{.posx}}" data-posy="{{.posy}}" data-rot="{{.rot}}">
                {{.string}}
            </div>
        </div>
        {{ end }}

        {{ range $reusablePages }}
        <div class=" interactive-info" data-posx='{{ .Param "posx" }}' data-posy='{{ .Param "posy" }}'>
            <div id="pointer-1" class="interactive-info__pointer">
                <div class="icon-circle icon-circle--1"></div>
                <div class="icon-circle icon-circle--2"></div>
                <div class="icon-circle icon-circle--3"></div>
                <div class="icon-circle icon-circle--4"></div>
            </div>


            <div id="text-1" class="interactive-info__text">

                <h3>{{ .Title }}</h3>
                {{ .Content }}

                <div id="close-icon-1" class="interactive-info__close">
                    <span class="close-icon">&nbsp;</span>
                </div>
            </div>
        </div>
        {{ end }}

    </div>
</main>

{{ $js := "js/stories.js" | relURL }}
<script src="{{ $js }}"></script>
{{ end }}