---
title: "Auf die Grösse kommt’s an"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /wellenlaenge/info
name: wellenlaenge
number: 10

subTitle: "Wellen nutzen für gezieltes Erkunden dank unterschiedlicher Wellenlängen"
weitergedacht: "Müssen wir uns über unhörbare Infraschallwaffen Sorgen machen? Wie kann verhindert werden, dass mit
ihnen Körperteile so stark in Schwingung versetzt werden, dass sie Schaden nehmen?"
---

<h6>
    Mit passenden Wellenlängen lassen sich Objekte gezielt anregen, aufspüren und untersuchen. Dazu müssen Wellenlänge
    und Objekt in der gleichen Grössenordnung liegen.
</h6>