---
title: "Ich sehe was, was du nicht siehst"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /empfaenger/info
image: empfaenger.jpg

subTitle: "Wellen nutzen als Schlüssel zur Welt durch passende Empfänger"

annotations: [
{"string": "Infrarot", "posx": 9, "posy": 66, "rot":45},
{"string": "Infrarot", "posx": 9, "posy": 66, "rot":45}
]
---

<h6>
    Unsere Welt ist voller Farben und Geräusche, die wir mit unseren Augen
    sehen oder Ohren hören. Vielen Tieren erscheint die Welt ganz anders, da
    sie Dinge wahrnehmen können, die unseren Sinnen verborgen sind. Um unsere
    Wahrnehmung zu erweitern und neue Welten zu erschliessen, entwickelt der
    Mensch geeignete Empfänger.
</h6>