---
title: "Ich sehe was, was du nicht siehst"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /empfaenger/info
name: empfaenger
number: 1

subTitle: "Wellen nutzen als Schlüssel zur Welt durch passende Empfänger"
weitergedacht: "Cyborgs lassen sich Sensoren implantieren, um z.B. Farben über eine Antenne im Kopf zu hören. Welche
spezielle Fähigkeit würdest du dir einpflanzen lassen?"

annotations: [
{"string": "Infrarot", "posx": 9, "posy": 66, "rot":45},
{"string": "Infrarot", "posx": 35, "posy": 45, "rot":0},
{"string": "sichtbares Licht", "posx": 40, "posy": 45, "rot":15},
{"string": "UV", "posx": 26, "posy": 78, "rot":0},
{"string": "Ultraschall", "posx": 62, "posy": 13, "rot":0},
{"string": "seismische Wellen", "posx": 50, "posy": 28, "rot":0},
{"string": "seismische Wellen", "posx": 70, "posy": 56, "rot":0},
{"string": "Mikrowellen", "posx": 70, "posy": 45, "rot":20},
{"string": "Infraschall", "posx": 76, "posy": 60, "rot":340},
{"string": "Hydrophon", "posx": 91, "posy": 28, "rot":0},
{"string": "Infraschall", "posx": 93, "posy": 31, "rot":0},
{"string": "Seismometer", "posx": 62, "posy": 30, "rot":0},
{"string": "Gravitationswellen", "posx": 80, "posy": 5, "rot":0},
{"string": "Mikrowellen", "posx": 70, "posy": 20, "rot":305},
]
---

<h6>
    Unsere Welt ist voller Farben und Geräusche, die wir mit unseren Augen
    sehen oder Ohren hören. Vielen Tieren erscheint die Welt ganz anders, da
    sie Dinge wahrnehmen können, die unseren Sinnen verborgen sind. Um unsere
    Wahrnehmung zu erweitern und neue Welten zu erschliessen, entwickelt der
    Mensch geeignete Empfänger.
</h6>