---
title: "I am a receiver"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "receiver"
bundle: /empfaenger/info
image: empfaenger.jpg
---

<h1>Ich sehe was, was du nicht siehst</h1>
<h6>
    Our world is full of colours that we see with our eyes and sounds that we hear with our ears. For many animals,
    the world appears very different because they can perceive things that are hidden from our senses. In or-der to
    expand our perception and unlock new worlds, we develop suitable receivers.
</h6>