---
title: "Wellen bewegen die Welt"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
bundle: /gesellschaft/info
name: gesellschaft
number: 11

subTitle: "Wie benutzen wir den Begriff «Welle» im Alltag? Und in welcher Beziehung stehen die
Alltagsverwendungen zu
den physikalischen Wellen?"

annotations: [
{"string": "Corona-Welle", "posx": 21, "posy": 43, "rot":0},
{"string": "Anzahl Fälle", "posx": 15, "posy": 35, "rot":270},
{"string": "Zeit", "posx": 27, "posy": 41, "rot":0},

]
---