---
title: "Waves Move the World"
date: 2019-01-12T22:14:57-06:00
draft: false
layout: posters
url: "society"
bundle: /gesellschaft/info
name: gesellschaft
number: 11

subTitle: "How do we use the term ‘wave’ in everyday life? And what is the relationship between the everyday uses
of
the
term and its use in physics?"

annotations: [
{"string": "coronavirus wave", "posx": 21, "posy": 43, "rot":0},
{"string": "no. of cases", "posx": 15, "posy": 35, "rot":270},
{"string": "time", "posx": 27, "posy": 41, "rot":0},
]
---