.interactive-info {

    
    &__pointer {
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
        // background-color: rgba(255, 249, 210, 0.2);
        z-index: 999;
        position: absolute;
        top: 10%;
        left: 10%;
        transition: all 0.2s;
        cursor: pointer;

        .icon-circle {
            // stroke-width: 3px;
            // stroke: rgb(183, 159, 1);
            // fill: none;
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: .3rem solid rgb(198, 172, 3);
            box-shadow: 0px 0px 2rem rgb(255, 248, 203), rgb(107, 92, 0) 0px 0px .75rem inset;

            animation-name: circleGrows;
            animation-timing-function: linear;
            animation-fill-mode: backwards;
            animation-duration: 2s; 
            animation-iteration-count: infinite;

            &--1 {
                animation-delay: 0s;
            }
            &--2 {
                animation-delay: .5s;
            }
            &--3 {
                animation-delay: 1s;
            }
            &--4 {
                animation-delay: 1.5s;
            }
        }

        &:hover {
            transform: scale(1.2);       
        }
    }

    &__text {
        transition: all 0.2s ease-in;
        

        font-size: 1.6rem;
        white-space: normal;
        color: white;
        width: 30vw;
        padding: 3rem;
        border-radius: 0.5rem;
        background-color: rgba(154, 141, 58, 0.9);
        box-shadow: rgba(33, 29, 0, 0.5) .3rem .3rem 1rem ;
        z-index: 999;
        position: absolute;
        top: 15%;
        left: 12%;

        opacity: 0;
        transform: scale(0);
        transform-origin: top left;

        &.text-active {
            opacity: 1;
            transform: scale(1);
            
        }
    }
}