//Colors

// $color-base: rgb(0, 49, 79);
$color-base: rgb(0, 61, 77);
$color-turquoise: rgb(0, 180, 193); // 0, 152, 145)
$color-teal: rgb(0, 102, 125);
$color-yellow: rgb(244, 197, 78);
$color-white: white;

// $color-info-icon: rgba(198, 172, 3, 1);
// $color-info-icon: rgb(239, 227, 0);
$color-info-icon: lighten($color-turquoise, 10%);

$padding-left-default: 8rem;
$padding-left-small: 6rem;
$padding-title: 10vh 15vw 5vh $padding-left-default;

$animation-length: 3s;
$icon-anim-dist: 4rem;
