/*
0-600       phone
600-900     tablet
900-1200    tablet landscape
            main
1800+       big screen
*/
/* $breakpoint argument choices
- phone
- tab-port
- tab-land
- big

ORDER: Base, typography > general layout, grid > pages
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body, p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5; }

h1, .h1 {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase; }

h2 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase; }

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase; }

h5 {
  font-weight: 700;
  font-size: 1.8rem; }

h6 {
  font-weight: 500;
  font-size: inherit; }

.interactive-info__pointer {
  height: 6vh;
  width: 6vh;
  background-color: yellowgreen;
  z-index: 999;
  position: absolute;
  top: 10%;
  left: 10%; }

.interactive-info__text {
  font-size: 1.6rem;
  white-space: normal;
  width: 30vw;
  background-color: yellowgreen;
  z-index: 999;
  position: absolute;
  top: 15%;
  left: 15%; }

.title-section {
  position: absolute;
  top: 0;
  left: 1.5rem; }

.fullscreen-image {
  box-sizing: inline-block;
  height: 100vh;
  overflow-y: hidden;
  position: relative; }
  .fullscreen-image__img {
    height: 100%;
    min-width: 100vw; }

.navigation {
  height: 20vh;
  background-position: 0% 50%;
  padding: 4rem 10rem;
  position: relative;
  display: flex;
  align-items: center;
  transition: height, 0.5s; }
  .navigation__title {
    color: white; }
  .navigation__text {
    color: white;
    height: 0;
    overflow: hidden; }
  .navigation__link {
    text-decoration: none; }
  .navigation__content {
    position: relative;
    z-index: 999; }
  .navigation__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    transition: opacity, 0.5s; }
  .navigation:hover {
    height: 30vh; }
  .navigation:hover .navigation__overlay {
    opacity: 0.2; }
  .navigation:hover .navigation__content .navigation__text {
    height: auto; }

.menu__toggle {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 1002;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.menu__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#61acc5, white);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.menu__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.menu__toggle.active ~ .menu__background {
  transform: scale(80); }

.menu__toggle.active ~ .menu__nav {
  opacity: 1;
  width: 100%; }

.menu__list {
  list-style: none;
  text-align: center; }

.menu__item {
  margin: 1rem; }

.menu__link:link, .menu__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 320%;
  transition: all .4s; }

.menu__link:hover, .menu__link:active {
  background-position: 100%;
  color: black;
  transform: translateX(1rem); }

.menu__icon {
  position: relative;
  margin-top: 3.5rem; }
  .menu__icon, .menu__icon::before, .menu__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: grey;
    transition: all .2s; }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .menu__icon::before {
    top: -.8rem; }
  .menu__icon::after {
    top: .8rem; }

.menu__toggle:hover .menu__icon::before {
  top: -1rem; }

.menu__toggle:hover .menu__icon::after {
  top: 1rem; }

.menu__toggle.active .menu__icon {
  background-color: transparent; }

.menu__toggle.active .menu__icon::before {
  top: 0;
  transform: rotate(-135deg); }

.menu__toggle.active .menu__icon::after {
  top: 0;
  transform: rotate(135deg); }

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: center; }
  .hero__title {
    position: absolute;
    top: 5vh;
    left: 10vw;
    font-family: 'Dr Sugiyama', cursive;
    font-size: 23rem;
    text-transform: none;
    font-weight: 600;
    line-height: 1.2;
    color: #00314f; }
    .hero__title--sub {
      position: relative;
      display: inline-block;
      font-size: 18rem;
      top: -18rem;
      left: 15rem;
      transform: rotate(-5deg);
      color: #009cb4; }
  .hero__text {
    color: #00314f; }
    .hero__text:not(:last-child) {
      margin-bottom: 1.5rem; }
  .hero__icon {
    height: 7.5rem;
    width: 7.5rem;
    position: absolute;
    left: calc(50vw - 3.75rem);
    bottom: 2rem;
    fill: #00314f; }
  .hero__box {
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 40vh;
    left: 5vw;
    padding: 3rem; }

/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }

.c-scrollbar:hover {
  transform: scaleX(1.45); }

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1; }

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1); }

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0; }
