{{ define "main" }}

<div class="hero">
    <div class="hero__content">
        <h1 class="hero__title wavesTitle">
            <span class="wavesTitle__main">Waves<br></span>
            <span class="wavesTitle__sub">Dive In!</span>
        </h1>

        <div class="hero__greeting">
            <h5 class="hero__greeting--welcome">
                Welcome to the online exhibition by <i>focus</i>Terra.
            </h5>
            <h6 class="hero__greeting--details">
                The online exhibition accompanies the exhibition shown from 24 August 2021 to 5 March 2023 in
                <i>focus</i>Terra
                at ETH Zurich. There you can discover the waves on large illuminated illustrations and explore them
                yourself in many experiments. We look forward to your visit.
            </h6>
        </div>

    </div>

    <!-- <svg class="hero__icon">
        <use xlink:href="images/icons/solid.svg#chevron-circle-down"></use>
    </svg> -->
</div>

{{ with .Site.GetPage "eintauchen" }}
<div class="wave">
    <svg class="wave__svg " xmlns="http://www.w3.org/2000/svg" width="1920" height="100" viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>

                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ with .Site.GetPage "wellentypen" }}
<div class="wave">
    <svg class="wave__svg wave__svg--turquoise" xmlns="http://www.w3.org/2000/svg" width="1920" height="100"
        viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>
                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ with .Site.GetPage "wellenphysik" }}
<div class="wave wave--single">
    <svg class="wave__svg wave__svg--teal" xmlns="http://www.w3.org/2000/svg" width="1920" height="100"
        viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro intro--single">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>
                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <svg class="wave__svg " xmlns="http://www.w3.org/2000/svg" width="1920" height="100" viewBox="0 0 1920 100">
        <path d="M1920,79.8621C1143,169.2965,958-75.4979,0,33.8189L.5-.0587H1920Z" />
    </svg>
</div>
{{ end }}

<div class="navigation__container">

    {{ with .Site.GetPage "empfaenger" }}
    <div class="navigation" style=' background-image: url("/images/thumbnails/empfaenger_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "reflexion" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/reflexion_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "geschwindigkeit" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/geschwindigkeit_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "energie" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/energie_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "lokalisierung" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/lokalisierung_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "kommunikation" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/empfaenger_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "veraenderung" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/veraenderung_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "manipulierbarkeit" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/manipulierbarkeit_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}


    {{ with .Site.GetPage "frequenzgehalt" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/frequenzgehalt_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "wellenlaenge" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/empfaenger_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "gesellschaft" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/gesellschaft_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "risiken" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/risiken_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.svg' />
        </div>
    </div>
    {{ end }}
</div>

{{ with .Site.GetPage "zeit" }}
<div class="wave">
    <svg class="wave__svg " xmlns="http://www.w3.org/2000/svg" width="1920" height="100" viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro">
        <div class="intro__content">
            <h3 class="intro__title h1">With Waves Through Time</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>
                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}

<div class="wave">
    <svg class="wave__svg wave__svg--dark" xmlns="http://www.w3.org/2000/svg" width="1920" height="100"
        viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    {{ partial "impressum.en.html" . }}
</div>

{{ end }}