{{ define "main" }}

<div class="icon" id="icon-home">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160.7 160.5">
        <path class="icon--touch"
            d="M105.4,74.6c-0.4,0-0.8,0-1.1,0.1c-0.1-0.1-0.1-0.1-0.2-0.2v-0.8c0-3.9-3.2-7.1-7.1-7.1c-1.7,0-3.3,0.6-4.5,1.6c-0.5-3.4-3.4-6.1-7-6.1c-2.8,0-5.3,1.7-6.4,4.1V47.3c0-3.9-3.2-7.1-7.1-7.1s-7.1,3.2-7.1,7.1v34.5l-2.6-3.7c-2.3-3.2-6.7-4-9.9-1.7c-3.2,2.3-4,6.7-1.7,9.9c2.6,3.7,5.3,7.5,7.9,11.2c7.5,10.7,14,22.7,28.9,22.7c8.9,0,17-4.9,21.4-12.6c4.3-7.7,3.6-16.1,3.6-24.6c0-0.4,0-0.9,0-1.3C112.5,77.8,109.3,74.6,105.4,74.6z" />
        <path class="icon--mouse"
            d="M80.7,40.2c-13.8,0-25,11.2-25,25v30c0,13.8,11.2,25,25,25s25-11.2,25-25v-30C105.7,51.4,94.4,40.2,80.7,40.2z" />
        <path class="icon--mouse-wheel"
            d="M80.9,66.6L80.9,66.6c2.7,0,5-2.2,5-5v-4.4c0-2.7-2.2-5-5-5h0c-2.7,0-5,2.2-5,5v4.4C75.9,64.3,78.2,66.6,80.9,66.6z" />
        <path class="icon__chev-down"
            d="M80.2,160.5l-17.9-16.2c-1.2-1-1.3-2.8-0.2-4s2.8-1.3,4-0.2c0,0,0,0,0,0l14.1,12.8l13.6-12.3c1.2-1.1,3-1,4,0.2c1.1,1.2,1,3-0.2,4c0,0,0,0,0,0L80.2,160.5z" />
        <path class="icon__chev-up"
            d="M95.7,21.2c-0.7,0-1.4-0.3-1.9-0.7L79.8,7.7L66.1,20c-1.2,1.1-3,1-4-0.2s-1-3,0.2-4l0,0L79.8,0l17.9,16.2c1.2,1.1,1.2,2.8,0.2,4C97.3,20.8,96.5,21.2,95.7,21.2L95.7,21.2z" />
        <path class="icon__chev-right"
            d="M119.1,104.5c-0.7,0-1.4-0.2-1.9-0.7c-1.2-1.1-1.2-2.8-0.2-4l12.8-14.1l-12.3-13.6c-1.1-1.2-1-3,0.2-4c1.2-1.1,3-1,4,0.2l15.8,17.4l-16.2,17.9C120.6,104.2,119.8,104.5,119.1,104.5z" />
        <path class="icon__chev-left"
            d="M42.1,106.5c-0.8,0-1.5-0.3-2.1-0.9L24.2,88.1l16.2-17.9c1.1-1.2,2.8-1.2,4-0.2c1.2,1.1,1.2,2.8,0.2,4L31.9,88.1l12.3,13.6c1.1,1.2,1,3-0.2,4C43.5,106.3,42.8,106.5,42.1,106.5z" />
    </svg>
</div>

<div class="hero">
    <div class="hero__content">
        <h1 class="hero__title wavesTitle">
            <span class="wavesTitle__main">Wellen<br></span>
            <span class="wavesTitle__sub">Tauch ein!</span>
        </h1>

        <div class="hero__greeting">
            <h3 class="hero__greeting--welcome" style="text-transform: none">
                Willkommen auf der Online-Ausstellung von <i>focus</i>Terra.
            </h3>
            <h6 class="hero__greeting--details">
                Diese Hompage begleitet die Ausstellung, die vom 24. August 2021 bis zum 5. März 2023
                an der ETH Zürich gezeigt wird. Dort kannst du die Wellen auf grossen Leuchtbildern entdecken und
                mit Experimenten selber erforschen. Wir freuen uns auf deinen Besuch!
            </h6>
        </div>

    </div>

    <!-- <svg class="hero__icon">
        <use xlink:href="images/icons/solid.svg#chevron-circle-down"></use>
    </svg> -->
</div>

{{ with .Site.GetPage "eintauchen" }}
<div class="wave">
    <svg class="wave__svg " xmlns="http://www.w3.org/2000/svg" width="1920" height="100" viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>

                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ with .Site.GetPage "wellentypen" }}
<div class="wave">
    <svg class="wave__svg wave__svg--turquoise" xmlns="http://www.w3.org/2000/svg" width="1920" height="100"
        viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>
                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ with .Site.GetPage "wellenphysik" }}
<div class="wave wave--single">
    <svg class="wave__svg wave__svg--teal" xmlns="http://www.w3.org/2000/svg" width="1920" height="100"
        viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro intro--single">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>
                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <svg class="wave__svg " xmlns="http://www.w3.org/2000/svg" width="1920" height="100" viewBox="0 0 1920 100">
        <path d="M1920,79.8621C1143,169.2965,958-75.4979,0,33.8189L.5-.0587H1920Z" />
    </svg>
</div>
{{ end }}

<div class="navigation__container">

    {{ with .Site.GetPage "empfaenger" }}
    <div class="navigation" style=' background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">Ich sehe was, ...</h2>
            <div class="navigation__text h6">
                ... was du nicht siehst.
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "reflexion" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "geschwindigkeit" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "energie" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "lokalisierung" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "kommunikation" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "veraenderung" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "manipulierbarkeit" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}


    {{ with .Site.GetPage "frequenzgehalt" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "wellenlaenge" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "gesellschaft" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "risiken" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/{{ .Param "name" }}_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text h6">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
            <img class="navigation__assoziation"
                src='/images/icons/assoziationen/2-{{ .Param "number" }}-assoziation_{{ .Param "name" }}.png' />
        </div>
    </div>
    {{ end }}
</div>

{{ with .Site.GetPage "zeit" }}
<div class="wave">
    <svg class="wave__svg " xmlns="http://www.w3.org/2000/svg" width="1920" height="100" viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>
                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}

<div class="wave">
    <svg class="wave__svg wave__svg--dark" xmlns="http://www.w3.org/2000/svg" width="1920" height="100"
        viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    {{ partial "impressum.de.html" . }}
</div>

{{ end }}