{{ define "main" }}

<div class="hero">
    <h1 class="hero__title">
        <span class="hero__title--main">Wellen<br></span>
        <span class="hero__title--sub">tauch ein</span>
    </h1>


    <svg class="hero__icon">
        <use xlink:href="/images/icons/solid.svg#chevron-circle-down"></use>
    </svg>
</div>

{{ with .Site.GetPage "eintauchen" }}
<div class="wave">
    <svg class="wave__svg " xmlns="http://www.w3.org/2000/svg" width="1920" height="100" viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>

                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ with .Site.GetPage "wellentypen" }}
<div class="wave">
    <svg class="wave__svg wave__svg--turquoise" xmlns="http://www.w3.org/2000/svg" width="1920" height="100"
        viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>
                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ with .Site.GetPage "wellenphysik" }}
<div class="wave wave--single">
    <svg class="wave__svg wave__svg--teal" xmlns="http://www.w3.org/2000/svg" width="1920" height="100"
        viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro intro--single">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>
                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <svg class="wave__svg " xmlns="http://www.w3.org/2000/svg" width="1920" height="100" viewBox="0 0 1920 100">
        <path d="M1920,79.8621C1143,169.2965,958-75.4979,0,33.8189L.5-.0587H1920Z" />
    </svg>
</div>
{{ end }}

<div class="navigation__container">

    {{ with .Site.GetPage "empfaenger" }}
    <div class="navigation" style=' background-image: url("/images/thumbnails/empfaenger_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">Ich sehe was, ...</h2>
            <div class="navigation__text">
                ... was du nicht siehst.
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "reflexion" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/reflexion_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "geschwindigkeit" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/geschwindigkeit_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "energie" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/energie_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "lokalisierung" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/lokalisierung_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "kommunikation" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/empfaenger_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "veraenderung" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/veraenderung_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "manipulierbarkeit" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/manipulierbarkeit_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}


    {{ with .Site.GetPage "frequenzgehalt" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/frequenzgehalt_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "wellenlaenge" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/empfaenger_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "gesellschaft" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/gesellschaft_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}

    {{ with .Site.GetPage "risiken" }}
    <div class="navigation" style='background-image: url("/images/thumbnails/risiken_thumb.jpg");'>
        <div class="navigation__overlay"></div>
        <div class="navigation__content">
            <h2 class="navigation__title h1">{{ .Param "Title" }}</h2>
            <div class="navigation__text">
                {{ .Param "subTitle" }}
            </div>
            <a class="navigation__link" href='{{ .RelPermalink  }}'>
                <svg class="intro__icon">
                    <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    {{ end }}
</div>

{{ with .Site.GetPage "zeit" }}
<div class="wave">
    <svg class="wave__svg " xmlns="http://www.w3.org/2000/svg" width="1920" height="100" viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="intro">
        <div class="intro__content">
            <h3 class="intro__title h1">{{ .Param "Title" }}</h3>
            <div class="intro__text">
                <p>
                    {{ .Param "subTitle" }}
                </p>
                <a class="intro__link" href='{{ .RelPermalink  }}'>
                    <svg class="intro__icon">
                        <use xlink:href="/images/icons/solid.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}

<div class="wave">
    <svg class="wave__svg wave__svg--dark" xmlns="http://www.w3.org/2000/svg" width="1920" height="100"
        viewBox="0 0 1920 100">
        <path d="M0,20.0206c777-89.4345,962,155.36,1920,46.0431l-.5,33.8776H0Z" />
    </svg>
    <div class="impressum">
        <h3 class="h1">Impressum & Danksagung</h3>
        <div class="impressum__content">
            <div class="impressum__text">
                <h5> focusTerra bedankt sich bei allen Mitwirkenden und den Donatorinnen und Donatoren.</h5>
                <p> <span class=h6>Ausstellungsteam:</span> focusTerra </p>
                <p> <span class=h6>Projektleitung:</span> Dr. Ulrike Kastrup, Direktorin focusTerra </p>
                <p> <span class=h6>Projektkoordinatorin:</span> Dr. Silke Ballmer</p>
                <p> <span class=h6>Wissenschaftliche Mitarbeiterinnen:</span> Dr. Gillian Grün, Kerstin
                    Fankhauser</p>
                <p> <span class=h6>Illustrationen:</span> Oculus Illustration GmbH</p>
                <p> <span class=h6>Gestaltung:</span> lötscher visuelle kommunikation</p>
                <p> <span class=h6>Website:</span> Nicolas Schmid</p>

                <h5> Wir danken den nationalen und internationalen Expertinnen, Experten und Organisationen für
                    die Zusammenarbeit.</h5>
                <p> <span class=h6>Departement Erdwissenschaften:</span> Professur Johan Robertsson, Departement
                    Erdwissenschaften </p>
                <p> <span class=h6>Agora / Schweizerischer Nationalfonds (SNF)</span></p>
                <p> <span class=h6>Departement Erdwissenschaften (ETH Zürich)</span></p>
                <p> <span class=h6>ETH-Bibliothek</span>ETH-Bibliothek</p>
                <p> <span class=h6>Departement Physik (ETH Zürich)</span></p>
                <p> <span class=h6>ETH Zürich Foundation</span></p>
                <p> <span class=h6>Professuren xxx</span></p>
            </div>

            <div class="impressum__text">
                <h5> Folgenden Privatpersonen, Firmen, Stiftungen, Organisationen und ETH-Professuren danken wir
                    für ihre freundlichen Schenkungen.</h5>
                <p>
                    <span class=h6>ETH ZürichDepartement Erdwissenschaften und Schweizerischer Erdebendienst
                        (SED):</span>
                    Prof. Dr. Domenico Giardini, Prof. Dr. Paul Tackley
                </p>
                <p> <span class=h6>Departement Physik:</span> Dr. Sebastian Huber </p>
                <p> <span class=h6>Department Civil, Environmental and Geomatic Engineering</span> </p>
                <p> <span class=h6>Zurich-Basel Plant Science Center, Universität Zürich, ETH Zürich,
                        Universität Basel</span></p>
                <p> <span class=h6>Illustrationen:</span> Oculus Illustration GmbH</p>
                <p> <span class=h6>Universität Zürich:</span> Geographisches Institut, Universität Zürich
                    Science Lab, Universtität Zürich</p>
                <p> <span class=h6>Schweizerisches Tropen- und Public Health-Institut</span> </p>
                <p> <span class=h6>ETH-Bibliothek und Graphische Sammlung der ETH Zürich (???)</span></p>
                <p> <span class=h6>FSM – Forschungsstiftung Strom und Mobilkommunikation</span></p>
                <p> <span class=h6>SPEAG Zürich</span></p>
                <p> <span class=h6>EMPA – Eidgenössische Materialprüfungs- und Forschungsanstalt</span></p>
                <p> <span class=h6>Department of Physics and Astronomy, Brigham Young University, Utah und Los
                        Alamos National Laboratories, New Mexico</span></p>
                <p> <span class=h6>Werkstätten der Departemente Erdwissenschaften und Physik</span></p>
                <p> <span class=h6>ETH Zürich Foundation</span></p>
                <p> <span class=h6>Internationales WAVES Projekt mit Universitäten, Forschungszentren und
                        Industriepartnern</span></p>

            </div>

        </div>
    </div>
</div>

{{ end }}