*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines 1rem as 10px
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%; // 1 rem == 9px
    }

    @include respond(phone) {
        font-size: 45%; //
    }

    @include respond(big) {
        font-size: 68.75%; // 1 rem == 11px: 11/16
    }
}

body {
    box-sizing: border-box;
    height: 100%;
}
